/* TODO(matthewe|2014-08-18): For simplicity all styling will live here and
    be labeled by the section it corresponds to. May want to look into splitting
    this out. Add comments for sections as they are added. */

/* COMMON / GENERAL STYLING */
@media all and (min-device-width : 320px) and (max-device-width : 480px) {
    .video-section {
        margin-top: -75px !important;
    }

    div.social-icons-jumbo {
        display: none;
    }
    
    .jumbo-date h2 {
        font-size: 15px;   
    }
    
    .what-is {
        text-align: center;
    }
}

.logo-div svg {
    fill: white;
    -webkit-filter: drop-shadow(10px 10px 20px black);
    height: 100%;
    width: 100%;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.logo-div {
    width: 100%;   
    text-align: center;
}

.green {
    color: #27ae60; 
}

.navy {
    color: #dadada;
}

.social-icons-jumbo {
    position: absolute;
    top: 25px;
    right: 25px;   
}

.social-icons-jumbo > a {
    margin: 0px 10px;   
}

.social-icons-jumbo img:hover {
    opacity: .75;   
}

div.section-title-text {
    font-size: 7.0em;
    color: white;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

section {
    padding-bottom: 75px;
}


/* JUMBOTRON */
.jumbotron {
    background: url("../img/jumbo.png") repeat center center;
    
    /* CENTERS DIV IN DIV, CURRENTLY NOT USING */
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    
    width: 100%;
}

.jumbo-date {
    color: white;
    text-align: center;
    width: 100%;
    opacity: .9;
}

.buttons {
    text-align: center;
}

.button {
    width: 175px;
    height: 60px;
    margin: 10px;
    font-size: 2.1em;
    background-color: rgba(0, 0, 0, 0);   
    
    border: 2px solid white;
    color: white !important;    /* Overwrite the traditional link color */
    letter-spacing: 1px;
}

.button:hover {
    background-color: white;
    color: #021420 !important;
    border-color: white;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-container {
    padding: 100px 0px;   
}

