<section class="contact-section" title="Contact">
    <!-- Organizer Information -->
    <div class="contact-div col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="contact-heading">ORGANIZED BY</div>

        <!-- TODO(matthewe|2014-08-18): Remove these and replace with who
            it is actually organized by. -->
        <div class="organizer col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="img/org/hl.png" alt="Organizer 1"/>
        </div>
        <div class="organizer col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="img/org/tes.png" alt="Organizer 2"/>
        </div>
    </div>

    <!-- Contact Information -->
    <div class="contact-div col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="contact-heading">CONTACT</div>

        <div><b>UT Austin SAC</b></div>
        <div>3pm Oct. 18<sup>th</sup> - 3pm Oct. 19<sup>th</sup></div>

        <!-- TODO(matthewe|2014-08-18): Bad practice, get rid of when you
            have a chance. -->
        <br>

        <div><b>University Of Texas</b></div>
        <div><b>Student Activity Center</b></div>
        <div>2201 Speedway</div>
        <div>Austin, TX 78713</div>

        <div class="social-icons">
            <a href="#"><img src="img/social/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="img/social/twitter.png" alt="Twitter"></a>
        </div>
    </div>

    <!-- TODO(matthewe): Maye at copyright/made with love etc  -->
</section>