<section class="contact-section" title="Contact">
    <!-- Organizer Information -->
    <div class="contact-div col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="contact-heading">ORGANIZED BY</div>

        <div class="organizer col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>Technology Entrepreneurship Society</div>
        </div>
    </div>

    <!-- Contact Information -->
    <div class="contact-div col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="contact-heading">CONTACT</div>

        <div><b>Email: <a href="mailto:hello@hacktx.com" target="_blank">hello@hacktx.com</a></b></div>

        <br>

        <div><b>The University of Texas at Austin</b></div>
        <div><b>Student Activity Center</b></div>
        <div>2201 Speedway</div>
        <div>Austin, TX 78713</div>

        <div class="social-icons">
             <a href="https://www.facebook.com/HackTX"><img src="img/social/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/hacktx"><img src="img/social/twitter.png" alt="Twitter"></a>
        </div>
    </div>

    <div class="ibm">IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.</div>
</section>