<section class="faq-section section" title="Frequently Asked Questions">
    <div class="faq-divider divider">
        <div class="section-title-text">FAQs</div>
    </div>
    
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>See our <a href="#">Code of Conduct</a></h2>
        </div>
        
        
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Question Foo</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        
    </div>
</section>
