<section class="faq-section section" title="Frequently Asked Questions">
    <div class="faq-divider divider">
        <div class="section-title-text">FAQ</div>
    </div>
    
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>See our <a href="http://hackcodeofconduct.org/hacktx14" target="_blank">Code of Conduct</a></h2>
        </div>
        
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Who can attend HackTX?</h2>
            <div>If you are currently a student (undergraduate, graduate, or high school student at least 18 years old), you may attend HackTX as per <a href="http://static.mlh.io/docs/event-sanctioning-guide.pdf" target="_blank">MLH Sanctioning Rules</a>. We welcome students from all disciplines.</div>
        </div> 
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Can high school students attend?</h2>
            <div>Any high school student 18 or older can attend HackTX. Please be prepared to show your proof at the event.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>What should be brought to HackTX?</h2>
            <div>Yourself, your valid university ID (or driver's license if in high school), a computer (usually a laptop), chargers, or anything else you might need within the 24 hours. Please don't bring firearms or other weapons, alcohol, illegal drugs, power tools, or anything you think might be inappropriate.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Does HackTX allow volunteers to help run the event?</h2>
            <div>We love volunteers at HackTX. Please sign up <a href="https://hacktx.typeform.com/to/Jeck5G" target="_blank">here</a>, and we will be in contact with you. Our expectation is that volunteers stay for at least half the duration of the event.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Is a project idea needed in order to attend HackTX?</h2>
            <div>Many students attend HackTX without a project idea. That is perfectly fine! We encourage you to chat with other students and mentors about some potential ideas you might have before you decide on what your project will be.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Is HackTX a good place for beginners?</h2>
            <div>Yes! We will have resources such as friendly mentors available for newer coders throughout the whole event. We strive to leave no student behind. The HackTX team is currently working on other ideas to help beginners.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>How large can teams be? </h2>
            <div>We ask that teams are no larger than 5 students. We really encourage all students to work in teams and not by themselves.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>How much does it cost?</h2>
            <div>It's free! HackTX provides students with food, WiFi, meals, swag, workspace, and prizes throughout the event.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>What type of projects are seen at HackTX?</h2>
            <div>All types of hackathon projects are welcome: Mobile, hardware, web, you name it. A list of available hardware to use will be released closer to the event.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Can HackTX pay for transportation?</h2>
            <div>Although it is our aspiration to one day become an intergalactic hackathon, we are sorry to say we are unable to give travel reimbursements. We do have a couple of suggestions. You can crowdsource your ticket costs as seen <a href="https://www.tilt.com/campaigns/help-us-get-to-vthacks" target="_blank">here</a> with tips how to <a href="https://medium.com/@danstepanov/crowd-sourced-hackathon-travel-de6fdf1c7aaa" target="_blank">here</a> or talk to your school about sponsoring you, which we can write a recommendation letter to.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>Will there be buses to HackTX?</h2>
            <div>Yes! If you go to a Texas university or college and you think there should be a bus from your city, you should let us know <a href="https://hacktx.typeform.com/to/VcCrvH" target="_blank">here</a>. The sooner you let us know, the higher the chance of getting free transportation.</div>
        </div>
        <div class="faq-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2>How does anyone find out more information, ask a question, or bring up a concern?</h2>
            <div><a href="mailto:hello@hacktx.com" target="_blank">Email us</a>, <a href="https://twitter.com/hacktx" target="_blank">Tweet us</a>, <a href="https://facebook.com/hacktx" target="_blank">Facebook us</a></div>
        </div>         
        
    </div>
</section>
