<div class="jumbotron">
    <div class="social-icons-jumbo">
        <a href="https://www.facebook.com/HackTX"><img src="img/social/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/hacktx"><img src="img/social/twitter.png" alt="Twitter"></a>
    </div>
    
    <div class="container jumbo-info">
        <div class="logo-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img class="logo" src="img/hacktxwhite.png" />
        </div>

        <div class="jumbo-date col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>October 18<sup>th</sup> - 19<sup>th</sup>, 2014</h2>
        </div>
        
        <div class="buttons col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://hacktx.typeform.com/to/GOnGY8" class="button btn btn-lg" target="_blank">Register</a>
            <a href="mailto:partnerships@hacktx.com?subject=HackTX Support from [insert company name]" class="button btn btn-lg" target="_blank">Support</a>
        </div>
    </div>
</div>

<div class="video-section">
    <div class="hackbig"><span class="typed navy"></span><span class="with-us"> BIG WITH US</span></div>
    
    <div class="jumbotron-container container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="computer-screen">
            <iframe class="video" src="//www.youtube.com/embed/oLFc2F9YEfA?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="computer-stand"><img src="img/stand.png" /></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
            <h2 class="navy what-is">What is HackTX?</h2>
            <div class="about-hacktx">HackTX is an annual 24 hour university hackathon located deep in the heart of Texas. It has been student run on The University of Texas at Austin campus over the past two years. We are looking forward to our third year and hope you will join us for the fun here in Austin, where you can expect to find great food and awesome mini-events that complement a great hackathon experience. We strive to foster a better hackathon community for students in the state of Texas. </div>
        </div>
    </div>
</div>
