<section class="sponsor-section" title="Sponsors">
    <div class="sponsor-divider divider">
        <div class="section-title-text">POWERED BY</div>
    </div>
    
    <div class="container">
        <!-- Main Sponsor 20k -->
        <div class="row">
            <div class="title">
            <a href="http://mlh.io/" target="_blank">
                <img title="Sponsor" src="img/supporters/mlh_.png"/>
            </a>
        </div>
        </div>

        <!-- 10k Sponsor(s) -->
        <div class="sponsor col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="http://www.tripadvisor.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/TripAdvisor.jpg"/>
            </a>
        </div>
        <div class="sponsor col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="http://www.microsoft.com/en-us/default.aspx" target="_blank">
                <img title="Sponsor" src="img/supporters/MSFT.jpg"/>
            </a>
        </div>
        

        <!-- Third Level -->
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://context.io/" target="_blank">
                <img title="Sponsor" src="img/supporters/contextio_logo_large.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://a16z.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/a16z.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://looksharp.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/LookSharp.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.samsung.com/us/" target="_blank">
                <img title="Sponsor" src="img/supporters/Samsung_Logo.svg"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://sendgrid.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/send_grid_logo.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://twitter.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/Twitter_logo_blue.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.bloomberg.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/Bloomberg.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.gogosqueez.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/GoGo-Squeezmodified.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="https://parse.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/parse.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.mongodb.org/" target="_blank">
                <img title="Sponsor" src="img/supporters/mongoDB.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.mashery.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/mashery.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.thielfellowship.org/" target="_blank">
                <img title="Sponsor" src="img/supporters/thiel.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://github.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/GitHub_Logo.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.directv.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/directTV.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.yodle.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/Yodle.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.ibm.com/us/en/" target="_blank">
                <img title="Sponsor" src="img/supporters/IBM_Logo.jpg"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.rackspace.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/rackspace.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="https://www.codeship.io/" target="_blank">
                <img title="Sponsor" src="img/supporters/codeship.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.mutualmobile.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/mm.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="https://blockchain.info/" target="_blank">
                <img title="Sponsor" src="img/supporters/blockchain.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.indeed.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/indeed.jpg"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.cs.utexas.edu/~mad/" target="_blank">
                <img title="Sponsor" src="img/supporters/mad.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://capitalfactory.com/" target="_blank">
                <img title="Sponsor" src="img/supporters/capfac.png"/>
            </a>
        </div>

    </div>
</section>
