<section class="sponsor-section" title="Sponsors">
    <div class="sponsor-divider divider">
        <div class="section-title-text">POWERED BY</div>
    </div>

    <div class="container">
        <div class="interested col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Interested in Sponsoring HackTX? <a href="#">Contact Us.</a></h2>
        </div>
        
        <!-- Main Sponsor 20k -->
<!--
        <div class="sponsor col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <a href="#">
                <img title="Sponsor" src="img/sponsors/google.png"/>
            </a>
        </div>
-->

        <!-- 10k Sponsor(s) -->
        <div class="sponsor col-sm-3 col-md-3 col-lg-3"></div>
        <div class="sponsor col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="http://www.tripadvisor.com/">
                <img title="Sponsor" src="img/supporters/TripAdvisor.jpg"/>
            </a>
        </div>
        <div class="sponsor col-sm-3 col-md-3 col-lg-3"></div>

        <!-- Third Level -->
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://context.io/">
                <img title="Sponsor" src="img/supporters/contextio_logo_large.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://a16z.com/">
                <img title="Sponsor" src="img/supporters/a16z.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.readyforce.com/">
                <img title="Sponsor" src="img/supporters/ReadyForce1.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.samsung.com/us/">
                <img title="Sponsor" src="img/supporters/Samsung_Logo.svg"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://sendgrid.com/">
                <img title="Sponsor" src="img/supporters/send_grid_logo.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="https://twitter.com/">
                <img title="Sponsor" src="img/supporters/Twitter_logo_blue.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.bloomberg.com/">
                <img title="Sponsor" src="img/supporters/Bloomberg.png"/>
            </a>
        </div>
        <div class="sponsor col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <a href="http://www.gogosqueez.com/">
                <img title="Sponsor" src="img/supporters/GoGo-Squeezmodified.png"/>
            </a>
        </div>
    </div>
</section>
