<section class="weekofhacks-section section" title="Week of Hacks">
    <div class="woh-divider divider">
        <div class="section-title-text">Week of Hacks</div>
    </div>

    <div class="container">
        <div class="woh-section col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Week of Hacks</h2>
            <div>Description of WOH, including how to get involved, contact
                information, maybe some names, places, or events.</div>
            
            <div class="woh-link"><a href="#">www.Foobar.com</a></div>
        </div>
        
        <div class="woh-section col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Week of Hacks</h2>
            <div>Description of WOH, including how to get involved, contact
                information, maybe some names, places, or events.</div>
            
            <div class="woh-link"><a href="#">www.Foobar.com</a></div>
        </div>
        
        <div class="woh-section col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Week of Hacks</h2>
            <div>Description of WOH, including how to get involved, contact
                information, maybe some names, places, or events.</div>
            
            <div class="woh-link"><a href="#">www.Foobar.com</a></div>
        </div>
        
        <div class="woh-section col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Week of Hacks</h2>
            <div>Description of WOH, including how to get involved, contact
                information, maybe some names, places, or events.</div>
            
            <div class="woh-link"><a href="#">www.Foobar.com</a></div>
        </div>
    </div>
</section>
