<!DOCTYPE html>
<html>
    <head>
        <title>HackTX</title>
        <!-- TODO(matthewe|2014-08-18): Add meta related tags and property -->
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no">
 
    </head>

    <body>
        <!-- TODO(matthewe|2014-08-18): Add navbar/footer? Because this is a
        single page site, may just want to end up doing these from index.html -->
        {{ content }}

        <!-- TODO(matthewe|2014-08-18): Currently using Open Sans,
            but should discuss and settle on a font. -->
<!--        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'   rel='stylesheet' type='text/css'>-->
        <!-- jQuery -->
        <script src="../js/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script src="../js/bootstrap.min.js"></script>
        <!-- Moar CSS -->
        <link href="../css/index.css" rel="stylesheet">
        <script src="js/jquery.fittext.js"></script>
        <script src="../js/typed.js"></script>
        <script src="../js/responsive.js"></script>
        <link href="../css/normalize.css" rel="stylesheet">
    </body>
</html>
