<!DOCTYPE html>
<html>
  <head>
    <title>HackTX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <style>

    </style>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="row">
          <div class="col-lg-6 banner">
            <div class="logo">
              {% include logo.svg %}
            </div>
            <h3>
              The Biggest Hackathon in Texas
            </h3>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <nav>
              <div class="nav-link row">
                <span class="col-xs-4">{% include icons/cloud.svg %}</span>
                <h3 class="col-xs-8">Registration</h3>
              </div>
              <div class="nav-link row">
                <span class="col-xs-4">{% include icons/cloud.svg %}</span>
                <h3 class="col-xs-8">Sponsorship</h3>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </header>
    <section>
      <p><a href="http://thenounproject.com/noun/cloud/#icon-No322">Cloud</a> from The Noun Project</p>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>